
    <mat-dialog-content>
        <mat-card>
            <mat-card-title>
                <p>{{data.location}}, {{data.country}}</p>
            </mat-card-title>
            <mat-card-content *ngFor="let card of dailyCards; let i = index">
                in {{card.time}} days: temperature:  {{card.temperature}} C°, {{card.sky}}
            </mat-card-content> 
            <mat-card-actions>
                <button [mat-dialog-close]="true">Close</button>
            </mat-card-actions>
        </mat-card>
    </mat-dialog-content>