<div>

  <p *ngIf="!latitude">Locating...</p>
  <p *ngIf="latitude">Your current location:</p>
  <p *ngIf="latitude">latitude:
    {{latitude}}
  </p>

  <p *ngIf="longitude">longitude:
    {{longitude}}
  </p>

  <p *ngIf="location" style="font-weight: bold">
    {{location}}, {{country}}
  </p>

  <p *ngIf="temperature" style="font-size: 30px; font-weight: bold">
    {{temperature}} C°
  </p>

  <!-- <button (click)="openHourlyDataDialog(location, country)">Location</button> -->
  <!-- <button (click)="openTempDialog(temperature)">Temperature</button> -->
  <button (click)="showDetails( location,
  country,
  temperature,
  sky,
  feelsLike,
  tempMax,
  tempMin,
  windSpeed,
  windDirection)">Show details</button>

</div>
