<div>

  <p *ngIf="!latitude">Locating...</p>
  <p *ngIf="latitude">Your current location:</p>
  <!-- <p *ngIf="latitude">latitude:
    {{latitude}}
  </p>

  <p *ngIf="longitude">longitude:
    {{longitude}}
  </p> -->

  <p *ngIf="location" id="location">
    {{location}}, {{country}}
  </p>

  <p *ngIf="temperature" id="headlines">
    {{temperature}} C° <span>{{sky}}</span>
  </p>

  <button (click)="openDetailsDialog(
  location,
  country,
  temperature,
  sky,
  feelsLike,
  tempMax,
  tempMin,
  windSpeed,
  windDirection)">Details</button>
  
  <button (click)="openHourlyDialog(location, country, latitude, longitude)">Hourly</button>
  <button (click)="openDailyDialog(location, country, latitude, longitude)">Daily</button>

</div>
