
<div *ngIf="lastSearches.length > 0">

    <p>Your searched locations:</p>

    <ul class="last-searches">
      <li *ngFor="search of lastSearches; let i = index" id="clickedCity">
        <button
        type="button"
        (click)="changeCity(lastSearches[i])">
        {{lastSearches[i] | uppercase}}
        </button>
        <button class="button-remove" (click)="removeCity(lastSearches[i])">
          X
        </button>
      </li>
    </ul>
    <button (click)="removeAll()">Remove all</button>
      
  </div>