<mat-card>

    <mat-card-title>
    {{data.location}}, {{data.country}}
    </mat-card-title>
    
    <ul>
        <li>Temperature: {{data.temperature}} C°</li>
        <li>Sky: {{data.sky}}</li>
        <li>Feels like: {{data.feelsLike}} C°</li>
        <li>Max: {{data.tempMax}} C°</li>
        <li>Min: {{data.tempMin}} C°</li>
        <li>Wind speed: {{data.windSpeed}} m/s</li>
        <li>Wind direction: {{data.windDirection}}</li>
    </ul>
    
    <mat-card-actions>
        <button [mat-dialog-close]="true">Close</button>
    </mat-card-actions>
    
</mat-card>